address {
  margin-bottom: 22px;
}

.address {
  display: flex;
  align-items: center;

  font-style: normal;
}

.address__item:not(:last-of-type) {
  margin-right: 40px;
}

.address__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  line-height: 1.31;
  color: $alternate-text-color;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__icon {
  margin-right: 15px;
  fill: currentColor;
}
