address {
  margin-bottom: 22px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    justify-content: flex-end;
  }
}

.address {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;

    font-style: normal;
  }
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-width: 380px;
    margin: -10px;
  }
}

.address__item {
  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin: 5px;
  }
}

.address__item:not(:last-of-type) {
  @media screen and (max-width: 767px) {
    margin-bottom: 10px;
  }
  // @media screen and (min-width: 768px) {
  //   margin-right: 20px;
  // }
  @media screen and (min-width: 1200px) {
    margin-right: 40px;
  }
}

.address__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 1.31;
  color: $alternate-text-color;
  transition: color 250ms ease-in-out;

  @media screen and (min-width: 768px) {
    font-size: 13px;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.address__icon {
  margin-right: 7px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}
