.cases {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin: -15px;
  }
}

.cases__item {
  width: 255px;
  height: 255px;

  padding: 30px 40px 40px 40px;
  background-color: $alternate-section-color;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    margin: 15px;
  }
}

.cases__quantity {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 55px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: $alternate-text-color;
}

.cases__text {
  margin-bottom: 47px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: $alternate-text-color;
}

.cases__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.21;
  text-decoration-line: underline;
  color: $accent-color;
  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $main-color;
  }
}
