.contact {
  margin-right: 100px;
}

.contact__text {
  margin-top: 60px;
  margin-bottom: 80px;

  font-weight: 300;
  font-size: 18px;
  line-height: 1.39;
  color: $main-text-color;
}

.contact__list {
  display: flex;
}

.contact__link {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 21px;
  line-height: 1.38;
  color: $main-text-color;

  transition: color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &:first-child {
    margin-right: 20px;
  }
}
