.hero {
  max-width: 1920px;
  height: 670px;
  padding-top: 170px;
  padding-bottom: 113px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $main-color;
}

.hero__heading {
  max-width: 589px;
  margin-bottom: 80px;

  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 48px;
  line-height: 1.38;
  color: $main-text-color;
}

.hero__btn {
  min-width: 270px;
  padding: 19px 18px;
  margin-bottom: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.39;
  text-align: center;
  color: $main-text-color;
  background-color: $accent-color;
  border: transparent;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $main-text-color;
  }
}
