.hero {
  max-width: 560px;
  height: 500px;
  padding-top: 118px;
  padding-bottom: 113px;
  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: $main-color;

  @media screen and (min-width: 768px) {
    max-width: 900px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 1920px;
    height: 670px;
    padding-top: 170px;
  }
}

.hero__heading {
  max-width: 450px;
  margin-bottom: 30px;

  font-family: Merriweather, serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.38;
  letter-spacing: 0.06em;

  color: $main-text-color;

  @media screen and (max-width: 767px) {
    text-align: center;
  }

  @media screen and (min-width: 768px) {
    max-width: 589px;
    margin-bottom: 60px;

    font-size: 36px;
  }

  @media screen and (min-width: 1200px) {
    max-width: 589px;
    margin-bottom: 80px;

    font-size: 48px;
  }
}

.hero__btn {
  padding: 10px 20px;
  margin-bottom: 70px;

  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  color: $main-text-color;
  background-color: $accent-color;
  border: transparent;

  transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

  &:hover,
  &:focus {
    color: $accent-color;
    background-color: $main-text-color;
  }

  @media screen and (max-width: 767px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-witdh: 1200px) {
    min-width: 270px;
    padding: 19px 18px;

    font-size: 18px;
    line-height: 1.39;
  }
}
