.logo {
  font-family: Merriweather, serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 1.39;
  color: $accent-color;

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }
}

.logo__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}
