.services {
  @media screen and (max-width: 767px) {
    margin-top: 60px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: 60px -15px -15px -15px;
  }

  @media screen and (min-width: 1200px) {
    margin: 102px -15px -15px -15px;
  }
}

.services__item {
  position: relative;
  max-width: 350px;
  height: auto;

  @media screen and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  @media screen and (min-width: 768px) {
    margin: 15px;
  }
}

.services__link {
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    background-color: $services-main-color;
    transition: background-color 250ms ease-in-out;
  }

  &:hover::after,
  &:focus::after {
    background-color: $services-accent-color;
  }
}

.services__text {
  position: absolute;
  bottom: 40px;
  left: 40px;

  font-weight: 900;
  font-size: 20px;
  line-height: 1.25;
  color: $main-text-color;
  z-index: 999;

  @media screen and (min-width: 1200px) {
    font-size: 24px;
    line-height: 1.25;
  }
}
