$main-color: #222222;
$accent-color: #005fa3;
$services-main-color: rgba(0, 0, 0, 0.65);
$services-accent-color: rgba(0, 95, 163, 0.65);
$hero-bg-color: #e5e5e5;
$main-text-color: #ffffff;
$alternate-text-color: #000000;
$section-title-color: #bdbdbd;
$section-description-color: #333333;
$reviews-position-color: #4f4f4f;
$main-section-color: #ffffff;
$alternate-section-color: #ebebeb;
